<div class="p-fluid">
	<form [formGroup]="formGroup">
		<p-fieldset legend="Statement" styleClass="p-mt-2" [toggleable]="true">
			<span class="p-mt-3 p-field">
				<label for="statement">Statement</label>
				<input id="statement" pInputText [pKeyFilter]="allowedValuesForFormulae" formControlName="statement" />
			</span>
		</p-fieldset>
	</form>
	<p-fieldset legend="Function Definitions" styleClass="p-mt-2" [toggleable]="true">
		<p-accordion *ngFor="let group of funcDefs.controls; let i1 = index">
			<ng-container [formGroup]="group">
				<p-accordionTab [header]="getFunctionDefHeader(group.value)">
					<p-tabMenu
						[model]="functionTabsMenuItems"
						[activeItem]="functionTabsMenuItems[0]"
						styleClass="p-mb-5"
					></p-tabMenu>
					<ng-container *ngIf="funcDefShow === 'typing'">
						<div class="p-grid">
							<div class="p-col-4">
								<ng-container
									formArrayName="parameterTypes"
									*ngFor="let parameterType of group.get('parameterTypes').controls; let i2 = index"
								>
									<div class="p-grid">
										<div class="p-col-2 p-d-flex p-align-center">{{ i2 + 1 }}.</div>
										<div class="p-col-10">
											<p-dropdown
												[options]="typeDropdownOptions"
												styleClass="p-mt-2"
												[formControl]="parameterType"
											></p-dropdown>
										</div>
									</div>
								</ng-container>
							</div>
							<div class="p-col-2 p-d-flex p-justify-center p-align-center" [style.fontSize]="'33pt'">
								&#x27FC;
							</div>
							<div class="p-col-5 p-d-flex p-align-center">
								<p-dropdown [options]="typeDropdownOptions" formControlName="returnType"></p-dropdown>
							</div>
						</div>
					</ng-container>
					<ng-container *ngIf="funcDefShow === 'value'">
						<div class="p-grid">
							<div class="p-d-flex p-align-center p-justify-center p-col-2">
								{{ group.value.name }}
							</div>
							<div class="p-col-1 p-d-flex p-justify-center p-justify-center">
								<button
									type="text"
									pButton
									[style.width]="'auto'"
									label="="
									(click)="op.toggle($event)"
								></button>
							</div>
							<div class="p-col-6">
								<input pInputText [pKeyFilter]="allowedValuesForFormulae" />
								<input pInputText [pKeyFilter]="allowedValuesForFormulae" class="p-mt-4" />
								<input pInputText [pKeyFilter]="allowedValuesForFormulae" class="p-mt-4" />
							</div>
							<div class="p-col-3">
								<div class="p-inputgroup">
									<span class="p-inputgroup-addon">if</span
									><input [pKeyFilter]="allowedValuesForFormulae" pInputText />
								</div>
								<div class="p-inputgroup p-mt-4">
									<span class="p-inputgroup-addon">if</span
									><input [pKeyFilter]="allowedValuesForFormulae" pInputText />
								</div>
								<div class="p-inputgroup p-mt-4">
									<span class="p-inputgroup-addon">if</span
									><input [pKeyFilter]="allowedValuesForFormulae" pInputText />
								</div>
							</div>
						</div>

						<div class="p-d-flex p-justify-center p-mt-3">
							<
						</div>
					</ng-container>
				</p-accordionTab>
			</ng-container>
		</p-accordion>
	</p-fieldset>
</div>

<p-overlayPanel #op>
	<ng-template pTemplate>
		Content
	</ng-template>
</p-overlayPanel>
