<div>

  <div class="flex justify-content-center">
    <h1>Please enter the constructors which will be used</h1>
  </div>

  <div class="flex justify-content-center" >
    <p (click)="createNewConstructorDefinitions()">
      <button pButton type="button" icon="pi pi-plus-circle" class="p-button-text"></button>
    </p>
  </div>
	<p-card *ngFor="let singleDefinitions of constructorDefinitions.controls">
		<app-constructor-function-editing [abstractFormGroup]="singleDefinitions"></app-constructor-function-editing>
	</p-card>

</div>
