<div [formGroup]="formGroup">
  <ng-container formArrayName="constructorDefinitions">

    <div class="flex justify-content-center">
      <h1>Please enter the constructors which will be used&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="pi pi-question-circle text-2xl text-blue-500" (click)="titleHelp.toggle($event)"></i>
      </h1>
    </div>

    <ng-container *ngFor="let singleDefinitions of getConstructorDefinitions().controls; let d = index">
      <div class="mt-5" [formGroupName]="d">
        <p-card>
          <div class="p-fluid">
            <div class="p-field">
              <div class="grid">
                <div class="col-10">
                  <p class="p-float-label">
                    <input pInputText id="term" formControlName="term"
                           [class]="getConstructorTerm(d).invalid ? 'ng-invalid ng-dirty' : ''" [attr.data-test]="'constructor-definition-' + d + '-term'"
                    />
                    <label for="term">Term</label>
                  </p>
                </div>
                <div class="col-2 mt-4">
                  <i class="pi pi-question-circle text-xl text-blue-500" (click)="termHelp.toggle($event)"></i>
                </div>
              </div>
            </div>
          </div>

          <div>
            <p-dropdown [options]="typeOptions" formControlName="type" placeholder="Select a type"
                        [attr.data-test]="'constructor-definition-' + d +  '-type'"
                        [class]="getConstructorType(d).invalid ? 'ng-invalid ng-dirty' : ''"
            ></p-dropdown>
          </div>

          <div class="flex mt-5">
            <div class="flex-auto">
              <div class="flex justify-content-center"><h2>Constructor Functions&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="pi pi-question-circle text-xl text-blue-500" (click)="constructorFunctionHelp.toggle($event)"></i>
              </h2></div>
              <p class="flex justify-content-center" style="color:red" *ngIf="getFunctions(d).errors?.noBaseCase">{{getFunctions(d).errors.noBaseCase.message}}</p>
              <p class="flex justify-content-center" style="color:red" *ngIf="getFunctions(d).errors?.noNonBaseCase">{{getFunctions(d).errors.noNonBaseCase.message}}</p>
              <ng-container formArrayName="functions">
              <ng-container *ngFor="let singleFunction of getFunctions(d).controls; let f = index">
                  <div class="flex justify-content-center" [formGroupName]="f">
                    <div class="p-fluid formgrid grid">
                      <div class="field col-8">
                        <p class="p-float-label">
                          <input pInputText id="symbol" formControlName="symbol" [attr.data-test]="'constructor-definition-' + d +  '-function-' + f + '-symbol'"
                                 [class]="getSingleFunction(d, f).invalid ? 'ng-invalid ng-dirty' : ''"
                          />
                          <label for="symbol">Symbol</label>
                        </p>
                      </div>
                      <div class="field col-3">
                        <p class="p-float-label">
                          <p-inputNumber inputId="arity" [min]="0" [showButtons]="true" formControlName="arity"
                            [attr.data-test]="'constructor-definition-' + d +  '-function-' + f + '-arity'"
                          ></p-inputNumber>
                          <label for="arity">Arity</label>
                        </p>
                      </div>
                    </div>
                    <div class="field col-1 mt-2">
                        <button pButton class="p-button-danger"  icon="pi pi-trash" (click)="removeConstructorFunction(d, f)" [attr.data-test]="'constructor-definition-' + d +  '-function-' + f + '-remove-button'"></button>
                    </div>

                  </div>
                </ng-container>
                <div class="flex mt-8 justify-content-center">
                  <button pButton pRipple icon="pi pi-plus-circle" class="p-button-text p-button-lg font-bold" (click)="createNewConstructorFunction(d)" [attr.data-test]="'constructor-definition-' + d +  '-function-add-button'"></button>
                </div>
                <div class="flex flex justify-content-end mr-5">
                  <button pButton pRipple class="p-button-danger" icon="pi pi-trash" (click)="removeConstructorGroup(d)"></button>
                </div>
              </ng-container>
            </div>
          </div>

        </p-card>
      </div>
    </ng-container>
    <div class="flex mt-8 justify-content-center">
      <button pButton pRipple type="button" icon="pi pi-plus-circle" class="p-button-text p-button-lg font-bold" (click)="createNewConstructorDefinitions()" data-test="new-constructor-button"></button>
    </div>
  </ng-container>
</div>

<div class="flex justify-content-center mt-4">
  <button pButton (click)="onFinish()" class="p-button-success" data-test="constructor-function-def-next-button">Next</button>
</div>

<p-overlayPanel #titleHelp>
  <ng-template pTemplate>
    <p>
      Constructors are functions which are used to build more complex structures like trees. Here, you will define
      constructors in groups. If you do not know how to form these groups simply you can simply define a single group
      the type you need and define all constructor functions you need.
    </p>
  </ng-template>
</p-overlayPanel>

<p-overlayPanel #termHelp>
  <ng-template pTemplate>
    <p>You can choose the term freely. You should only remember it for the next step.</p>
  </ng-template>
</p-overlayPanel>

<p-overlayPanel #constructorFunctionHelp>
  <ng-template pTemplate>
    <p>
      For example, if you have the constructor function c(x,y) then
      you can enter "c" as a symbol and the arity would be two, because this function as two input parameters.
    </p>
      <div>For propositional logic the constructor could be:</div>
      <div>Symbol: "variable"; arity: 0</div>
      <div>Symbol: "verum"; arity: 0</div>
      <div>Symbol: "falsum"; arity: 0</div>
      <div>Symbol: "mynot"; arity: 1</div>
      <div>Symbol: "myor"; arity: 2</div>
      <div>Symbol: "myand"; arity: 2</div>
      <div>Symbol: "implication"; arity: 2</div>
      <div>Symbol: "equivalency"; arity: 2</div>
    <p>
      You need to have at least one function with arity equal 0 and at least one function with an arity greater than
      zero, otherwise no induction proof can be performed.
    </p>
    <p>
      Your function symbols may not be any of the following: "and", "or", "xor", "not", "assert". If you are defining
      constructor for propositional logic you might want to consider prefixing your options.
    </p>
  </ng-template>
</p-overlayPanel>
