<div class="flex justify-content-center">
  <h1>
    Additional Constraints
    &nbsp;&nbsp;&nbsp;&nbsp;<i class="pi pi-question-circle text-2xl text-blue-500" (click)="additionalConstraintsHelp.toggle($event)"></i>

  </h1>
</div>

<form [formGroup]="formGroup">
  <ng-container formArrayName="additionalConstraints">
    <ng-container *ngFor="let _ of getAdditionalConstraints().controls; let ac = index">
      <ng-container [formGroupName]="ac">
        <div class="flex">
          <span class="text-2xl mx-2 flex align-items-center">
            For all
          </span>
          <ng-container formArrayName="inputVariables">
            <ng-container *ngFor="let _ of getInputVariables(ac).controls; let iv = index">
              <div class="flex-shrink-0">
                <ng-container [formGroupName]="iv">
                  <span class="p-inputgroup" [style.width.rem]="20">
                    <input pInputText formControlName="variable" [pKeyFilter]="allowedVariableCharacters"
                           [attr.data-test]="'additional-constraint-' + ac + '-quantified-parameter-' + iv + '-symbol'"
                           [class]="getVariableSymbol(ac, iv).invalid ? 'ng-invalid ng-dirty' : ''"
                    />
                    <span class="text-2xl mx-2 flex align-items-center">∈</span>
                    <p-dropdown [options]="typeDropdownOptions" formControlName="type" placeholder="Please select"
                                [attr.data-test]="'additional-constraint-' + ac + '-quantified-parameter-' + iv + '-type'"
                                [class]="getVariableType(ac, iv).invalid ? 'ng-invalid ng-dirty' : ''"
                    ></p-dropdown>
                    <button pButton class="p-inputgroup-addon p-button-sm p-button-danger" icon="pi pi-trash" (click)="deleteInputVariable(ac, iv)"
                            [attr.data-test]="'additional-constraint-' + ac + '-quantified-parameter-' + iv + '-remove-button'"
                    ></button>
                  </span>
                </ng-container>
              </div>
            </ng-container>
            <div class="flex-shrink-1 flex align-items-center">
              <button pButton pRipple type="button" icon="pi pi-plus-circle" class="p-button-text p-button-lg font-bold" (click)="addInputVariable(ac)"
                      [attr.data-test]="'additional-constraint-' + ac + '-add-quantified-parameter-button'"
              ></button>
            </div>
          </ng-container>
          <div class="flex-grow-1">
            <input pInputText formControlName="constraint" [pKeyFilter]="allowedValuesForFormulae"
                   [attr.data-test]="'additional-constraint-' + ac + '-expression'"
                   [class]="getConstraint(ac).invalid ? 'ng-invalid ng-dirty' : ''"
            />
            <button pButton class="p-button-sm p-button-danger" icon="pi pi-trash" (click)="deleteConstraint(ac)"
              [attr.data-test]="'additional-constraint-' + ac + '-remove-button'"
            ></button>

            <span class="ng-invalid text-2xl" *ngIf="getConstraint(ac).invalid">{{ extractStatementError(getConstraint(ac)) }}</span>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <div class="flex mt-8 justify-content-center">
    <button pButton pRipple type="button" icon="pi pi-plus-circle" class="p-button-text p-button-lg font-bold" (click)="addConstraintEntry()"
      [attr.data-test]="'add-constraint-button'"
    ></button>
  </div>
</form>

<div class="flex justify-content-center">
  <button pButton class="p-button-success" (click)="onFinish()"
    [attr.data-test]="'additional-constraints-next-button'"
  >Start Proving</button>
</div>

<div class="flex justify-content-center mt-5">
  <button pButton (click)="onBack()" class="p-button-link"
    [attr.data-test]="'additional-constraints-back-button'"
  >Go Back To Constructor Definitions</button>
</div>

<p-overlayPanel #additionalConstraintsHelp>
  <ng-template pTemplate>
    <p>
      Sometimes the given information is not enough to prove the statement.
      Additional helpful constraints can be defined here. These are not usually needed. Feel free to skip this section
      and add some constraints if you notice that the given counter model does not make sense
    </p>

    <p>
      The variables you have defined can be used on the right-hand side. The variable may not have the name of another
    function however.
    </p>

    <p class="mt-6">The following operation can be used and are defined:</p>
    <table border="1">
      <tr>
        <th>Operator</th>
        <th>Meaning</th>
        <th>Example</th>
      </tr>
      <tr>
        <td>+</td>
        <td>Addition</td>
        <td>1 + 2</td>
      </tr>
      <tr>
        <td>-</td>
        <td>Subtraction</td>
        <td>1 - 2</td>
      </tr>
      <tr>
        <td>*</td>
        <td>Multiplikation</td>
        <td>1 * 2</td>
      </tr>
      <tr>
        <td>/</td>
        <td>Division</td>
        <td>1 / 2</td>
      </tr>
      <tr>
        <td>=</td>
        <td>Equality</td>
        <td>1 = 2</td>
      </tr>
      <tr>
        <td>not</td>
        <td>Negation</td>
        <td>not(1 = 2)</td>
      </tr>
      <tr>
        <td>and</td>
        <td>Logical AND operator</td>
        <td>(1 = 2) and (2 = 3)</td>
      </tr>
      <tr>
        <td>or</td>
        <td>Logical OR operator</td>
        <td>(1 = 2) or (2 = 3)</td>
      </tr>
      <tr>
        <td>=></td>
        <td>Logical implication operator</td>
        <td>(1 = 2) => (2 = 3)</td>
      </tr>
      <tr>
        <td>></td>
        <td>Larger than</td>
        <td>1 > 2</td>
      </tr>
      <tr>
        <td><</td>
        <td>Smaller than</td>
        <td>1 < 2</td>
      </tr>
      <tr>
        <td><=</td>
        <td>Smaller than or equal</td>
        <td>1 <= 2</td>
      </tr>
      <tr>
        <td>numbers (1, 2, 3, ...)</td>
        <td>Simple Number Values</td>
        <td>1</td>
      </tr>
      <tr>
        <td>true / false</td>
        <td>Boolean Values</td>
        <td>false</td>
      </tr>
      <tr>
        <td>letters</td>
        <td>Constants prefix functions</td>
        <td>c < 2</td>
      </tr>
    </table>
  </ng-template>
</p-overlayPanel>
