/* You can add global styles to this file, and also import other style files */
body {
  background: #eee;
}

body li.p-steps-item > a.p-menuitem-link{
  background: #eeeeee !important;
}

#steps a.p-menuitem-link{
  background: #eee !important;
}
